/* All credit to David Fitas */
/* https://codepen.io/dfitzy/pen/VepqMq */
  #name{
    color:#F2F3EB;
    font-family: 'Eczar', serif;
    font-size: 3em;
    text-align: center;
    margin: .75em 0;
  }
  
  @media (max-width: 1310px){
    #name{
      font-size: 2.5em;
      text-align: center;
      margin-right:0;
  
    }
  }
  
  .grayout{
    opacity: .75;
    background-color: rgb(48, 133, 163);
  }
  
  .row{
    margin:0;
  }
  
  .disc.container{
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  ul.disc{
    position: relative;
  }
  /* softens background */
  .disc.container .row:before{
    content: '';
    position: relative;
    bottom:-30em;
    height: 100%;
    width: 100%;
    background-color: rgba(118, 144, 164, 0.4);
    z-index: 0;
  }
  
  
  .disc{
    width:100%;
    min-height: 30em;  
    padding: 0;
  }
  /*----------------------------------------------   
  --Keyframes
  -----------------------------------------------  */
  @keyframes fade-out {
    33%{
     opacity: 1
    }
    66%{
    opacity: 0
    }
  }
  
  .disc li{ 	
    min-height:30em;;
    width:100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:	50%;
    background-attachment: fixed;
    z-index: 0;
    opacity: 0;
    animation: fade-out 21s infinite both;
    background-image: url('../assets/plant.jpg');
   }
  
   .disc li:nth-child(2){
    background-image: url('../assets/best.jpg');
    animation-delay: 7s;
   }
  
   .disc li:nth-child(3){
    background-image: url('../assets/run.jpg');  
    animation-delay: 14s;
   }
  
  .nonVid{
    background-color: #494040;
    padding-top:10px;
  }
  .skills{
    width: 150%;
    position: relative;
    left: -25%;
    text-align: center;
  }
  .skill_pill{
    margin: 10px 20px;
    color:#333;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background: rgba(224, 241, 199, 0.89);
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
  }
  .disc .row {
    /* background-color: rgba(197, 196, 255, 0.38); */
    height:30em;
    position: absolute;
    top:-30em;
    margin-bottom: -30em;
    width:100%;
  }
  
  .sexy_line{ 
    display: block;
    border: none;
    height: 10px;
    background: black;
    background: linear-gradient( rgba(73, 64, 64,1), rgba(73, 64, 64,0));
    position: absolute;
    top: 60px;
    /* margin-top: 50px; */
    left: 0;
    right: 0;
  }
  
  .sexy_line0{ 
    display: block;
    border: none;
    height: 10px;
    background: black;
    background: linear-gradient( rgba(73, 64, 64,0), rgba(73, 64, 64,1));
    position: relative;
    margin-top: -20px;
  }
  .sexy_line1{ 
    display: block;
    border: none;
    height: 10px;
    background: black;
    background: linear-gradient( rgba(73, 64, 64,1), rgba(73, 64, 64,0));
    position: relative;
    /* margin-top: -10px; */
  }
  
  .sexy_line2{ 
    display: block;
    border: none;
    height: 10px;
    background: black;
    background: linear-gradient( rgba(73, 64, 64,0), rgba(73, 64, 64,1));
    position: relative;
    margin-top: -20px;
  }
  

  /* form css */
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  
  html {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
      background: #494040;
    /* background: #F2F3EB; */
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #mainContainer {
    border: solid 3px #F2F3EB;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  h1 {
    color: #F2F3EB;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
  }
  
  .underline {
    border-bottom: solid 2px #F2F3EB;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #F2F3EB;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      width: 45%;
      margin: 0 auto;
  }
  
  .textarea{
    margin: 10px auto;
    width: 45%;
  }

  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #F2F3EB;
      color: #F2F3EB;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .submit{
      text-align: center;
  }

  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #F2F3EB;
  }
  
  :-moz-placeholder { 
      color: #F2F3EB;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #F2F3EB;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #F2F3EB;
  }
  
  #form_button {
    background: none;
    border: solid 2px #F2F3EB;
    color: #F2F3EB;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #5A5A5A;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 768px) {
    #mainContainer {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }

  /*SVG Submit button */
  /*       Just setting CSS for the page   */

* {
  margin: 0;
  padding: 0;
}

html,
css {
  width: 100%;
  height: 100%;
}

.position {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15%;
}

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 2px;
  fill: transparent;
  stroke: #494040;
  stroke-dasharray: 1 5;
/*   stroke-dashoffset: -220; */
  transition: .25s all ease-in-out;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray:5 0;
/*   stroke-linecap:"round"; */
  stroke-width: 4px;
/*   stroke-dashoffset: 10px; */
  stroke: #06D6A0;

}